run = "sh scripts/replit-dev.sh"
entrypoint = "src/app/page.tsx"
modules = ["nodejs-22"]
onBoot = "npm install"

[nix]
channel = "stable-24_05"

[deployment]
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 80

[env]
NEXT_TELEMETRY_DISABLED = "1"

[packager]
language = "nodejs"

[packager.features]
enabledForHosting = false
packageSearch = true
guessImports = true
